-
	const folkArts = [
		{
			"img": "img/art.jpg",
			"title": "Тульский пряник",
			"description": `Тульский пряник — русский деликатес. Без этих сладких и душистых изделий не проходило на Руси ни одно событие — ни веселое, ни грустное. <br>Пряники подавали как к царскому столу, так и к крестьянскому. Традиционная форма придается прянику с помощью доски с вырезанным орнаментом.`
		},
		{
			"img": "img/art.jpg",
			"title": "Тульский пряник",
			"description": `Тульский пряник — русский деликатес. Без этих сладких и душистых изделий не проходило на Руси ни одно событие — ни веселое, ни грустное. <br>Пряники подавали как к царскому столу, так и к крестьянскому. Традиционная форма придается прянику с помощью доски с вырезанным орнаментом.`
		},
		{
			"img": "img/art.jpg",
			"title": "Тульский пряник",
			"description": `Тульский пряник — русский деликатес. Без этих сладких и душистых изделий не проходило на Руси ни одно событие — ни веселое, ни грустное. <br>Пряники подавали как к царскому столу, так и к крестьянскому. Традиционная форма придается прянику с помощью доски с вырезанным орнаментом.`
		}
	];

section.folk-arts#folk-art
	+addTitle('Виды народного искусства')
	.folk-arts__list
		each art in folkArts
			.folk-arts__art
				img(src=art.img, alt=art.title, title=art.title)
				h3= art.title
				p!= art.description
				- ;
				a(href="#") Подробнее